<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<%- include('partials/head') %>
<body>

<%- include('partials/header') %>

<main class="container product-detail">
    <div class="product-image">
        <img src="/images/<%= product.image %>" alt="<%= product.name %>">
    </div>
    <div class="product-info">
        <h1><%= product.name %></h1>
        <p class="price-large">R$ <%= product.formattedPrice %></p> 
        
        <p class="description"><%= product.description %></p>
        
        <a href="/adicionar/<%= product.id %>" class="btn">Adicionar ao Carrinho</a>
        <a href="/" class="btn btn-secondary">Voltar à Loja</a>
    </div>
</main>

<%- include('partials/footer') %>
</body>
</html>